@import './global';
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,200;1,200&family=Raleway:ital@0;1&family=Ysabeau:ital,wght@0,1;0,100;1,100&display=swap');

:root{
    --contoro: 'Castoro Titling', cursive;
    --monster: 'Montserrat', sans-serif;
    --real: 'Raleway', sans-serif;
    --ysa: 'Ysabeau', sans-serif;
}
// card
@mixin card ($bgcolor){
    width: 100%;
    padding: 4rem 0;
    background-color: $bgcolor;
}
// title 
@mixin title (){
    font-family: var(--contoro);
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
// button 
@mixin btn ($bgcolor, $color){
    padding: 10px 20px;
    border: 0;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba($color: #000000, $alpha: 0);
    font-size: 1rem;
    &:hover{
        background-color: $bgcolor;
        color: $color;
    }
}

// grid 
@mixin grid ($display,$grid-template-columns, $gap){
    display: $display;
    grid-template-columns: $grid-template-columns;
    gap: $gap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/banner-bg-01.jpg);
    background-size: 100% 100%;
}
.navigation .navbar .navbar__logo .fa-bars{
    display: none;
  }
.navigation{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;

        .navbar__logo{
            a{
                display: flex;
                align-items: center;
                color: black;
                font-size: 1.5rem;
                span{
                    color: blue;
                    font-family: var(--real);
                    font-weight: 900;
                    margin-right: 5px;
                }
                img{
                    width: 15%;
                }
            }
        }
        .navbar__nav{
            a{
                margin-left: 25px;
                margin-right: 25px;
                font-size: 1rem;
                color: black;
                font-family: var(--ysa);
                font-weight: 900;
                padding: 5px 15px;
                transition: all 0.5s linear;
                &:hover{
                    background-color: blue;
                    color: #fff;
                    padding: 5px 15px;
                    border-radius: 30px;
                }

            }
        }
        .navbar__icon{
            i{
                margin-left: 25px;
                margin-right: 25px;
                font-size: 1.3rem;
                // color: blue;
                -webkit-text-stroke: 0.5px blue;
            }
        }
    }
}


.banner{
    .swiper{
        .swiper-slide{
            text-align: center;
            h1{
                color: blue;
                font-family: var(--real);
                font-size: 4rem;
                width: 60%;
                margin: 0 auto;
                margin-bottom: 1rem;
                margin-top: 5%;
            }
            p{
                width: 60%;
                margin: 0 auto;
                margin-bottom: 3rem;
                font-family: var(--monster);
                color: black;
                font-weight: 900;
            }
            button{
                transition: all 0.5s linear;
                margin-bottom: 2rem;
                @include btn (blue, black);
                &:hover{
                    color: #fff;
                }
            }
        }

    }
    .swiper-button-next{
        display: none;
    }
}

.servise{
    @include card(#fff);
    .title{
        text-align: center;
        h2{
           @include title();
        }

    }
}

    .servise__item{
        width: 80%;
        margin: 0 auto;
        h2{
            .fa-gift{
                color: #fff;
                -webkit-text-stroke: 2px black;
                margin-right: 20px;
            }
            font-family: var(--monster);
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        p{
            width: 80%;
            
            
        }
    }
   
.blog{
    @include card(white);
    .blog__header{
        @include card (blue);
        margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .blog__item{
        color: #fff;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 1.3rem;
        padding: 0px 10px;
        border: 1px solid blue;
         border-radius: 20px;
       transition: all 0.5s linear;
        &:hover{
            border: 1px solid black;
            padding: 0px 10px;
            border-radius: 20px;
            background-color: #fff;
            color: black;
        }
    }
    }
  
}
.blog__container{
    @include grid (grid,repeat(4,1fr), 3rem);
    .blog__container__item{
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &:hover .blog__shadow{
            transform: translateY(35vh);
          }
          &:hover .blog__shadow__black{
            transform: translateY(100vh);
          }
          &:hover .title, &:hover .title button{
            color: #000000;
          }
        .blog__shadow{
            position: absolute;
            width: 100%;
            height: 60px;
            background-color: rgba(255, 253, 253,1);
            box-shadow: 0 -10px 10px white,
            0 -20px 20px white,
            0 -30px 30px white,
            0 40px 40px white;
            transform: translateY(-400px);
            transition: all 0.5s linear;
          
        }
    .blog__shadow__black{
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        transition: all 0.5s linear;
    }
    .title{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        button{
            color: white;
            @include btn(rgb(255, 255, 255), black);
        }
    }
}
}
.active{
    border: 1px solid black;
    padding: 0px 10px;
    border-radius: 20px;
    background-color: black;
    color: black;
}
.success{
    width: 100%;
    padding: 4rem 0;
    background-color: #6266EA;
    .success__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa-box-archive{
            font-size: 4rem;
            color: #fff;
            -webkit-text-stroke: 2px black;

        }
        .title{
            color: #fff;
            text-align: center;
            h2{
                font-family: var(--monster);
                font-size: 1.8rem;
            }
            p{
                font-family: var(--real);
            }
        }
        button{
            padding: 10px 15px;
            border-radius: 30px;
            color: #fff;
            background-color: #4232C2;
            border: 0;

        }
    }
}