@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,200;1,200&family=Raleway:ital@0;1&family=Ysabeau:ital,wght@0,1;0,100;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

:root {
  --contoro: "Castoro Titling", cursive;
  --monster: "Montserrat", sans-serif;
  --real: "Raleway", sans-serif;
  --ysa: "Ysabeau", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(/img/banner-bg-01.jpg);
  background-size: 100% 100%;
}

.navigation .navbar .navbar__logo .fa-bars {
  display: none;
}

.navigation {
  width: 100%;
  height: 10vh;
  background-color: #fff;
}
.navigation .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.navigation .navbar .navbar__logo a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.5rem;
}
.navigation .navbar .navbar__logo a span {
  color: blue;
  font-family: var(--real);
  font-weight: 900;
  margin-right: 5px;
}
.navigation .navbar .navbar__logo a img {
  width: 15%;
}
.navigation .navbar .navbar__nav a {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1rem;
  color: black;
  font-family: var(--ysa);
  font-weight: 900;
  padding: 5px 15px;
  transition: all 0.5s linear;
}
.navigation .navbar .navbar__nav a:hover {
  background-color: blue;
  color: #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
.navigation .navbar .navbar__icon i {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.3rem;
  -webkit-text-stroke: 0.5px blue;
}

.banner .swiper .swiper-slide {
  text-align: center;
}
.banner .swiper .swiper-slide h1 {
  color: blue;
  font-family: var(--real);
  font-size: 4rem;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 5%;
}
.banner .swiper .swiper-slide p {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: var(--monster);
  color: black;
  font-weight: 900;
}
.banner .swiper .swiper-slide button {
  transition: all 0.5s linear;
  margin-bottom: 2rem;
  padding: 10px 20px;
  border: 0;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}
.banner .swiper .swiper-slide button:hover {
  background-color: blue;
  color: black;
}
.banner .swiper .swiper-slide button:hover {
  color: #fff;
}
.banner .swiper-button-next {
  display: none;
}

.servise {
  width: 100%;
  padding: 4rem 0;
  background-color: #fff;
}
.servise .title {
  text-align: center;
}
.servise .title h2 {
  font-family: var(--contoro);
  letter-spacing: 2px;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.servise__item {
  width: 80%;
  margin: 0 auto;
}
.servise__item h2 {
  font-family: var(--monster);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.servise__item h2 .fa-gift {
  color: #fff;
  -webkit-text-stroke: 2px black;
  margin-right: 20px;
}
.servise__item p {
  width: 80%;
}

.blog {
  width: 100%;
  padding: 4rem 0;
  background-color: white;
}
.blog .blog__header {
  width: 100%;
  padding: 4rem 0;
  background-color: blue;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .blog__header .blog__item {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.3rem;
  padding: 0px 10px;
  border: 1px solid blue;
  border-radius: 20px;
  transition: all 0.5s linear;
}
.blog .blog__header .blog__item:hover {
  border: 1px solid black;
  padding: 0px 10px;
  border-radius: 20px;
  background-color: #fff;
  color: black;
}

.blog__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blog__container .blog__container__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.blog__container .blog__container__item:hover .blog__shadow {
  transform: translateY(35vh);
}
.blog__container .blog__container__item:hover .blog__shadow__black {
  transform: translateY(100vh);
}
.blog__container .blog__container__item:hover .title, .blog__container .blog__container__item:hover .title button {
  color: #000000;
}
.blog__container .blog__container__item .blog__shadow {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 253, 253);
  box-shadow: 0 -10px 10px white, 0 -20px 20px white, 0 -30px 30px white, 0 40px 40px white;
  transform: translateY(-400px);
  transition: all 0.5s linear;
}
.blog__container .blog__container__item .blog__shadow__black {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
.blog__container .blog__container__item .title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.blog__container .blog__container__item .title button {
  color: white;
  padding: 10px 20px;
  border: 0;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}
.blog__container .blog__container__item .title button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.active {
  border: 1px solid black;
  padding: 0px 10px;
  border-radius: 20px;
  background-color: black;
  color: black;
}

.success {
  width: 100%;
  padding: 4rem 0;
  background-color: #6266EA;
}
.success .success__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.success .success__content .fa-box-archive {
  font-size: 4rem;
  color: #fff;
  -webkit-text-stroke: 2px black;
}
.success .success__content .title {
  color: #fff;
  text-align: center;
}
.success .success__content .title h2 {
  font-family: var(--monster);
  font-size: 1.8rem;
}
.success .success__content .title p {
  font-family: var(--real);
}
.success .success__content button {
  padding: 10px 15px;
  border-radius: 30px;
  color: #fff;
  background-color: #4232C2;
  border: 0;
}/*# sourceMappingURL=style.css.map */